# CompSci 169 - Optimization <br> Homework 3
## Hector G. Flores Rodriguez (Id. 25721714)

### 1. Unconstrained minimization of multivariate Rosenbrock function.<sup>[1](#scipy1)</sup>

To demonstrate SciPy's [minimize](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.minimize.html#scipy.optimize.minimize) in [scipy.optimize](https://docs.scipy.org/doc/scipy/reference/optimize.html#module-scipy.optimize), we will consider minimizing the multivariate generalization of the [Rosenbrock function](https://en.wikipedia.org/wiki/Rosenbrock_function) defined as:

$$
f(\mathbf{x}) = \sum_{i=1}^{N-1} [100(x_{i+1} - x_{i}^{2})^2 + (1 - x_{i})^2] \;, \quad \text{where} \space \mathbf{x} \in \mathbb{R}^N
$$

This variant has a minimum at $x_{i}^{*} = 1$, for $i=1,\ldots ,N$

<br>

#### References
<a name="scipy1">1</a>: ["Generalized Rosenbrock's function"](https://docs.scipy.org/doc/scipy/reference/tutorial/optimize.html). Retrieved 2008-09-16.

<a name="rosen">2</a>: H. H. Rosenbrock; An Automatic Method for Finding the Greatest or Least Value of a Function, The Computer Journal, Volume 3, Issue 3, 1 January 1960, Pages 175â€“184, https://doi.org/10.1093/comjnl/3.3.175

In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
from scipy.optimize import minimize

In [3]:
def rosen(x):
    """The Rosenbrock function.
    
    Reference:
        https://docs.scipy.org/doc/scipy/reference/tutorial/optimize.html
    """
    return sum(100.0*(x[1:] - x[:-1]**2.0)**2.0 + (1 - x[:-1])**2.0)

In [4]:
np.random.seed(13)
mu, sigma = 1, 2
x0 = np.random.normal(mu, sigma, size=(10, 10))  # N=10 for rosenbrock, 10 different starting points
x0

array([[-0.42478132,  2.50753276,  0.91099384,  1.90362468,  3.69020342,
         2.06467578,  3.7003758 ,  2.72242275,  3.95737147, -1.09075426],
       [-0.57797805, -1.52321189,  2.12569357,  0.5133475 ,  2.82748141,
         1.63470185,  1.25460656,  5.30076593,  2.21257731,  0.9464567 ],
       [-0.96832156,  3.38141055,  2.90566122, -1.17436318,  0.70957733,
         1.47571568, -2.27818682,  0.44373097,  3.79847684, -2.23021593],
       [ 1.98174367,  4.78548444, -0.2419594 ,  0.09249524,  1.43490332,
         2.02865771,  1.79448265, -2.02569023, -0.52806794,  1.20253957],
       [ 0.36546806,  3.27666609,  0.35575269,  0.25976784,  4.69922513,
         0.83669689, -0.96054864,  0.99522195,  0.53514826,  2.42194959],
       [ 1.90631723,  0.33464845,  0.23108463, -0.06065482,  3.70061199,
         5.03044165,  0.88493522,  2.12930858,  1.71906459, -0.02393019],
       [-0.04632843,  0.03725717, -2.8483189 , -0.51490645,  1.90696208,
         2.8446883 ,  0.5853006 ,  0.24816008,  2.27976795,  5.10738647],
       [-0.85667045, -0.54932007,  0.12570869,  2.09583662, -0.70828591,
         1.93131594, -0.44199935,  2.12452341,  0.37028385,  0.14020584],
       [ 2.62999089, -1.37083762, -0.53725404,  2.45833094,  2.5318221 ,
         1.41560011, -3.37423055,  2.44393011,  1.69750119,  0.32276349],
       [-2.89078136,  2.66181132,  4.49848358,  2.00227459,  3.66063385,
        -0.31503454,  1.3698919 , -0.30211296, -1.24101374,  0.30678642]])

In [22]:
# Use Nelder-Mead and BFGS with different starting points and varied tolerances
# Reference: https://docs.scipy.org/doc/scipy/reference/tutorial/optimize.html
true_x = np.ones(10)
true_norm = np.linalg.norm(true_x)

x_nelder1 = []
y_nelder1 = []
relx_error_nelder1 = []
diff_nelder1 = []


x_nelder2 = []
y_nelder2 = []
relx_error_nelder2 = []
diff_nelder2 = []


x_bfgs1 = []
y_bfgs1 = []
relx_error_bfgs1 = []
diff_bfgs1 = []

x_bfgs2 = []
y_bfgs2 = []
relx_error_bfgs2 = []
diff_bfgs2 = []

for x in x0:
    res1 = minimize(rosen, x, method='nelder-mead', tol=1e-8)
    x_nelder1 += [np.round(res1.x, 3)]
    y_nelder1 += [np.round(res1.fun, 3)]
    norm1 = np.linalg.norm(res1.x)
    relx_error_nelder1 += [round(((norm1 / true_norm) - 1), 3)]
    diff_nelder1 += [round(np.abs(res1.fun - 0), 3)]
    
    res2 = minimize(rosen, x, method='nelder-mead', tol=1e-16)
    x_nelder2 += [np.round(res2.x, 3)]
    y_nelder2 += [np.round(res2.fun, 3)]
    norm2 = np.linalg.norm(res2.x)
    relx_error_nelder2 += [round(((norm2 / true_norm) - 1), 3)]
    diff_nelder2 += [np.abs(res2.fun - 0)]
    
    res3 = minimize(rosen, x, method='BFGS', tol=1e-8)
    x_bfgs1 += [np.round(res3.x, 3)]
    y_bfgs1 += [np.round(res3.fun, 3)]
    norm3 = np.linalg.norm(res3.x)
    relx_error_bfgs1 += [round(((norm3 / true_norm) - 1), 3)]
    diff_bfgs1 += [round(np.abs(res3.fun - 0), 3)]
    
    res4 = minimize(rosen, x, method='BFGS', tol=1e-16)
    x_bfgs2 += [np.round(res4.x, 3)]
    y_bfgs2 += [np.round(res4.fun, 3)]
    norm4 = np.linalg.norm(res4.x)
    relx_error_bfgs2 += [round(((norm4 / true_norm) - 1), 3)]
    diff_bfgs2 += [round(np.abs(res4.fun - 0), 3)]

In [23]:
dn1 = {'x': pd.Series(x_nelder1), 'y': pd.Series(y_nelder1),
       'rel_error': pd.Series(relx_error_nelder1), 'y_diff': pd.Series(diff_nelder1)}
dn2 = {'x': pd.Series(x_nelder2), 'y': pd.Series(y_nelder2),
       'rel_error': pd.Series(relx_error_nelder2), 'y_diff': pd.Series(diff_nelder2)}
db1 = {'x': pd.Series(x_bfgs1), 'y': pd.Series(y_bfgs1),
       'rel_error': pd.Series(relx_error_bfgs1), 'y_diff': pd.Series(diff_bfgs1)}
db2 = {'x': pd.Series(x_bfgs2), 'y': pd.Series(y_bfgs2),
       'rel_error': pd.Series(relx_error_bfgs2), 'y_diff': pd.Series(diff_bfgs2)}

df_nelder1 = pd.DataFrame(dn1)
df_nelder2 = pd.DataFrame(dn2)
df_bfgs1 = pd.DataFrame(db1)
df_bfgs2 = pd.DataFrame(db2)

In [24]:
df_nelder1.describe()

       rel_error          y     y_diff
count  10.000000  10.000000  10.000000
mean    0.087900  37.805800  37.805800
std     1.139234  36.477887  36.477887
min    -0.919000   5.996000   5.996000
25%    -0.564000   9.880250   9.880250
50%    -0.278000  18.431500  18.431500
75%     0.275250  61.930500  61.930500
max     2.990000  98.303000  98.303000

In [25]:
print(df_nelder1.to_latex())

\begin{tabular}{lrlrr}
\toprule
{} &  rel\_error &                                                  x &       y &  y\_diff \\
\midrule
0 &      2.990 &  [-1.171, 1.157, 1.121, 1.112, 1.121, 1.197, 1.... &  25.067 &  25.067 \\
1 &     -0.123 &  [0.02, -0.404, 0.681, 0.842, 0.924, 0.97, 0.99... &  66.975 &  66.975 \\
2 &      0.775 &  [-0.965, 0.955, 0.902, 0.844, 0.705, 0.898, 1.... &  46.797 &  46.797 \\
3 &     -0.201 &  [1.025, 1.016, 0.996, 1.009, 0.977, 0.747, 0.6... &  10.394 &  10.394 \\
4 &     -0.632 &  [0.811, 0.664, 0.457, 0.2, 0.049, 0.008, 0.008... &   5.996 &   5.996 \\
5 &     -0.704 &  [0.725, 0.517, 0.231, -0.152, 0.034, 0.013, 0.... &  11.796 &  11.796 \\
6 &     -0.919 &  [-0.243, 0.051, 0.041, -0.025, 0.015, -0.01, 0... &   9.709 &   9.709 \\
7 &     -0.355 &  [-0.978, 0.975, 0.944, 0.835, 0.685, 0.415, 0.... &   8.984 &   8.984 \\
8 &      0.408 &  [0.5, 0.24, 0.039, 0.02, 0.004, -0.73, 1.044, ... &  94.037 &  94.037 \\
9 &     -0.360 &  [0.576, 0.34, 0.122, 0.045, 0.014, -0.148, 0.0... &  98.303 &  98.303 \\
\bottomrule
\end{tabular}

In [26]:
df_nelder2.describe()

       rel_error          y     y_diff
count  10.000000  10.000000  10.000000
mean    0.087900  37.805800  37.805871
std     1.139234  36.477887  36.478053
min    -0.919000   5.996000   5.995642
25%    -0.564000   9.880250   9.880130
50%    -0.278000  18.431500  18.431330
75%     0.275250  61.930500  61.930889
max     2.990000  98.303000  98.303444

In [27]:
print(df_nelder2.to_latex())

\begin{tabular}{lrlrr}
\toprule
{} &  rel\_error &                                                  x &       y &     y\_diff \\
\midrule
0 &      2.990 &  [-1.171, 1.157, 1.121, 1.112, 1.121, 1.197, 1.... &  25.067 &  25.066801 \\
1 &     -0.123 &  [0.02, -0.404, 0.681, 0.842, 0.924, 0.97, 0.99... &  66.975 &  66.975452 \\
2 &      0.775 &  [-0.965, 0.955, 0.902, 0.844, 0.705, 0.898, 1.... &  46.797 &  46.797200 \\
3 &     -0.201 &  [1.025, 1.016, 0.996, 1.009, 0.977, 0.747, 0.6... &  10.394 &  10.394475 \\
4 &     -0.632 &  [0.811, 0.664, 0.457, 0.2, 0.049, 0.008, 0.008... &   5.996 &   5.995642 \\
5 &     -0.704 &  [0.725, 0.517, 0.231, -0.152, 0.034, 0.013, 0.... &  11.796 &  11.795859 \\
6 &     -0.919 &  [-0.243, 0.051, 0.041, -0.025, 0.015, -0.01, 0... &   9.709 &   9.708681 \\
7 &     -0.355 &  [-0.978, 0.975, 0.944, 0.835, 0.685, 0.415, 0.... &   8.984 &   8.984113 \\
8 &      0.408 &  [0.5, 0.24, 0.039, 0.02, 0.004, -0.73, 1.044, ... &  94.037 &  94.037039 \\
9 &     -0.360 &  [0.576, 0.34, 0.122, 0.045, 0.014, -0.148, 0.0... &  98.303 &  98.303444 \\
\bottomrule
\end{tabular}

In [28]:
df_bfgs1.describe()

       rel_error          y     y_diff
count  10.000000  10.000000  10.000000
mean   -0.002400   2.392200   2.392200
std     0.002066   2.058878   2.058878
min    -0.004000   0.000000   0.000000
25%    -0.004000   0.000000   0.000000
50%    -0.004000   3.987000   3.987000
75%    -0.000000   3.987000   3.987000
max    -0.000000   3.987000   3.987000

In [29]:
print(df_bfgs1.to_latex())

\begin{tabular}{lrlrr}
\toprule
{} &  rel\_error &                                                  x &      y &  y\_diff \\
\midrule
0 &     -0.004 &  [-0.993, 0.997, 0.998, 0.999, 0.999, 0.999, 0.... &  3.987 &   3.987 \\
1 &     -0.000 &  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ... &  0.000 &   0.000 \\
2 &     -0.004 &  [-0.993, 0.997, 0.998, 0.999, 0.999, 0.999, 0.... &  3.987 &   3.987 \\
3 &     -0.004 &  [-0.993, 0.997, 0.998, 0.999, 0.999, 0.999, 0.... &  3.987 &   3.987 \\
4 &     -0.000 &  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ... &  0.000 &   0.000 \\
5 &     -0.004 &  [-0.993, 0.997, 0.998, 0.999, 0.999, 0.999, 0.... &  3.987 &   3.987 \\
6 &     -0.000 &  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ... &  0.000 &   0.000 \\
7 &     -0.004 &  [-0.993, 0.997, 0.998, 0.999, 0.999, 0.999, 0.... &  3.987 &   3.987 \\
8 &     -0.000 &  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ... &  0.000 &   0.000 \\
9 &     -0.004 &  [-0.993, 0.997, 0.998, 0.999, 0.999, 0.999, 0.... &  3.987 &   3.987 \\
\bottomrule
\end{tabular}

In [30]:
df_bfgs1.describe()

       rel_error          y     y_diff
count  10.000000  10.000000  10.000000
mean   -0.002400   2.392200   2.392200
std     0.002066   2.058878   2.058878
min    -0.004000   0.000000   0.000000
25%    -0.004000   0.000000   0.000000
50%    -0.004000   3.987000   3.987000
75%    -0.000000   3.987000   3.987000
max    -0.000000   3.987000   3.987000

In [31]:
print(df_bfgs2.to_latex())

\begin{tabular}{lrlrr}
\toprule
{} &  rel\_error &                                                  x &      y &  y\_diff \\
\midrule
0 &     -0.004 &  [-0.993, 0.997, 0.998, 0.999, 0.999, 0.999, 0.... &  3.987 &   3.987 \\
1 &     -0.000 &  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ... &  0.000 &   0.000 \\
2 &     -0.004 &  [-0.993, 0.997, 0.998, 0.999, 0.999, 0.999, 0.... &  3.987 &   3.987 \\
3 &     -0.004 &  [-0.993, 0.997, 0.998, 0.999, 0.999, 0.999, 0.... &  3.987 &   3.987 \\
4 &     -0.000 &  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ... &  0.000 &   0.000 \\
5 &     -0.004 &  [-0.993, 0.997, 0.998, 0.999, 0.999, 0.999, 0.... &  3.987 &   3.987 \\
6 &     -0.000 &  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ... &  0.000 &   0.000 \\
7 &     -0.004 &  [-0.993, 0.997, 0.998, 0.999, 0.999, 0.999, 0.... &  3.987 &   3.987 \\
8 &     -0.000 &  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ... &  0.000 &   0.000 \\
9 &     -0.004 &  [-0.993, 0.997, 0.998, 0.999, 0.999, 0.999, 0.... &  3.987 &   3.987 \\
\bottomrule
\end{tabular}